.base{
  height: 84px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.label{
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
}